@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu&family=Ubuntu+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

:root {
  --bg-color: #b8860b;
  --bg-gray-color: rgb(106, 106, 106);
  --bg-gray-background: rgba(228, 226, 226, 0.69);
  --text-color: #333;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 1rem;
    background: var(--bg-color);
    color: white;
  }

  header h1 {
    font-size: 3rem;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  header nav a {
    color: white;
    font-weight: bold;
    transition: all 4ms ease-in-out;
    letter-spacing: 0.05em;
  }

  .add-food a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--bg-color);
    color: white;
    border-radius: 0.4rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .food-delete a {
    text-decoration: none;
    color: var(--bg-color);
    border-radius: 1rem;
    width: fit-content;
    padding: 0.2rem;
  }

  header nav a:hover {
    color: red;
  }

  .login-container {
    width: 100%;
  }

  .login-container form,
  .signup-container form,
  .verification-container form {
    background: var(--bg-gray-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8rem auto;
    height: 66vh;
    width: 25%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-top: var(--bg-color) 5px solid;
    color: var(--bg-gray-color);
  }

  .login-container h2,
  .signup-container h2,
  .verification-container h2 {
    margin-bottom: 2rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.06em;
    color: var(--text-color);
  }

  .login-container .field,
  .signup-container .field,
  .verification-container .field {
    width: 100%;
    line-height: 2.5rem;
  }

  .login-container .field input,
  .signup-container .field input,
  .verification-container .field input {
    width: 100%;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0.1rem 1rem;
    outline: none;
  }

  .login-container .field input[type="checkbox"] {
    width: 5%;
  }

  .login-container .actions,
  .signup-container .actions,
  .verification-container .actions {
    width: 100%;
    margin-top: 2rem;
  }

  .login-container input[type="submit"],
  .signup-container input[type="submit"],
  .verification-container input[type="submit"] {
    width: fit-content;
    padding: 0.5rem 2rem;
    align-self: flex-start;
    margin-bottom: 1.5rem;
    background: var(--bg-color);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 4rem;
  }

  .login-container__links {
    text-align: center;
  }

  .popup-notication {
    width: 100%;
    height: 80%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-notication div {
    background: rgb(255, 255, 255);
    color: black;
    width: 25%;
    height: 30%;
    position: absolute;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: rgba(76, 76, 76, 0.387) solid 1px;
  }

  .popup-content-notice span {
    font-size: 4rem;
    color: green;
  }

  .popup-content-alert span {
    font-size: 4rem;
    color: blue;
  }

  .food-list,
  .food-new {
    padding: 0 3rem;
    width: 100%;
    margin-top: 7rem;
  }

  .food-list table {
    margin: 0 auto;
    width: 70%;
  }

  .food-list table thead {
    background: rgb(171, 170, 170);
    color: white;
  }

  .food-list table thead th {
    padding: 0.5rem;
  }

  .food-list table tbody tr td {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .food-new form{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .food-new form{
    line-height: 3em;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .food-new form input{
    width: 50%;
    border-radius: .4em;
    padding: .3em 1em;
    height: 3.5em;
    outline: none;
  }
  .food-new form input[type="submit"]{
    width: 20%;
    margin-top: 1rem;
    border-radius: 4em;
    border: none;
    background: var(--bg-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .05em;
  }
}
